.card {
  padding: 3rem 5rem;
  border-radius: 15px;
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hover durumunda daha belirgin gölge */
}

.answerBox {
  padding: 0.25rem 1rem;
  border: 1px solid green;
  border-radius: 30px;
}

.numberQuestion {
  padding: 1.25rem;
  background-color: green;
  color: white;
  font-size: 1.25rem;
  border-radius: 20px;
}

.question {
  font-size: 1.25rem;
}

.timer {
  padding: 1.25rem;
  font-size: 1.25rem;
  border-radius: 20px;
}

